// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #BBB8B7;
$beige: #f5f5dc;
$steel: #657D87;
$dark-steel: #324651;
$brown: #74523A;
$light-brown: #C2B194;
$night: #0B2734;
