.navbar-cust {
  justify-content: space-between;
  background: $light-brown;
  position:sticky;
  top:0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  margin-top: 5px;
}

.navbar-brand {
  color: $night;
}

.nav-item {
  margin-top: 2px;
}

.nav-link {
  color: $night;
  text-decoration: none;
  padding-left: 15px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: $night;
  text-decoration: none;
  transition: 0.3s ease;
  color: $light-brown;
}
